* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #72622b8f;
  font-family: Arial, Helvetica, sans-serif;
}

/*! Player Card/Container Styling */

.card-container {
  background-image: url("https://external-preview.redd.it/LhJNGImnN0-xvq6yNqccEhixe5K1Gqj3SeNOFtTS3Qs.jpg?auto=webp&s=73c180aa65b0ae427926c32b62fe2523f18a53de");
  min-width: 300px;
}

.player-card {
  background-color: rgb(239, 219, 209);
  height: 400px;
  max-width: 280px;
  min-width: 230px;
}

.player-card:hover {
  box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.5);
}

.player-img {
  height: 350px;
  transition: transform 0.3s;
}

.player-card:hover .player-img {
  transform: scale(0.95);
}
